/* ==============================
* ICONS
================================= */

.icon {
  fill: currentColor;
}

.icon--cta{
  width: 100%;
  height: 100%;
}

.icon--liked{
  fill: red;
  width: 100%;
  height: 100%;
}
