/* ==============================
* LOGO
================================= */
.logo {
 float: left;
 margin-right: 15px;
 line-height: 30px;
 font-weight: 600;
 color: black;
 text-decoration: none;
}

.logo span{
color: #e60023;
font-size: 2.3em;
}
